
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  height: 80px;
  width: 80px;
}

.winsquare {
  background: #0f0;
}

.losesquare {
  background: #f00;
}

.currentsquare {
  background: cornflowerblue;
  color: white;
}

.move-link {
  font-weight:bold;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  border: 3px solid #999;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.game-board {
  /*border: 1px solid #F00;*/
  flex-direction: column;
  margin: auto;
  width: 240px;
  margin-bottom: 10px;
}

.game-info {
  /*border: 1px solid #0F0;*/
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  border: 2px solid cadetblue;
  background-color: green;
  color: white;
  /*margin-left: 10px;*/
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  border: 2px solid green;
  background-color: cadetblue;
  text-align: center;
  color: white;
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.toggle {
  /*border: 1px solid #00F;*/
  display: flex;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 10px;
  /*flex-direction: column;*/
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: white;
  background-color: cornflowerblue;
}


